/* 
======================
CONFIGURAÇÕES BÁSICAS
======================
*/

body {
    font-family: "Fira Sans", Arial, sans-serif; /* Define a fonte principal para o site.*/
    margin: 0px; /*Remove qualquer margem padrão aplicada pelo navegador*/
    color: #141414; /* Define a cor dos textos para um tom escuro */
}

h1, h2, h3, p {
    margin: 0px; /*Remove qualquer margem padrão aplicada pelo navegador*/
}

img {
    max-width: 100%; /* Garante que a imagem nunca ultrapasse o contêiner */
    height: auto; /* Mantém a proporção original da imagem */
}

li {
    list-style: none;
}

/* 
======================
CABEÇALHO ( HEADER )
======================
*/

.header {
    max-width: 1200px; /* Define a largura máxima para evitar que o conteúdo fique muito largo em telas grandes*/
    padding: 40px 20px; /*Espaçamento interno para cima/baixo direita/esquerda*/
    margin: 0 auto; /* Centraliza o cabeçalho na horizontal*/
    display: flex; /* Organiza os elementos lado a lado*/
    justify-content: space-between; /* Distribui os itens do header uniformemente*/
    align-items: center; /* Alinha verticalmente os elementos*/
}

.header-menu {
    display: flex; /* Organiza os elementos lado a lado*/
    flex-wrap: wrap; /* Permite que os itens do menu quebrem a linha */
    gap: 10px; /* Espaçamento entre os itens do menu */
    justify-content: center; /* Garante que os itens sempre fiquem centralizados*/
}

.header-menu a {
    text-decoration: none; /*Remove o sublinhado padrão da linha */
    padding: 10px 20px; 
    font-size: 18px;
    color: #141414; /* Define a cor dos textos para um tom escuro */
    display: block;  /* Garante que o link ocupe toda a área do botão*/
}

/* 
======================
SEÇÃO DE INTRODUÇÃO
======================
*/

.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Divide o espaço, 1 parte para a imagem e 2 partes para o texto */
    gap: 100px;
    align-items: center;
}

.introducao h1 {
    font-size: 72px;
    margin-bottom: 30px;
}

.introducao p {
    font-size: 24px;
    color: #525252;
}

/* 
======================
SEÇÃO DE EXPERIÊNCIA
======================
*/

.experiencia {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

.experiencia .subtitulo {
    color: #e0e0e0;
}

.experiencia-texto {
   font-size: 24px; 
   margin-bottom: 60px;
   color: #525252;
   max-width: 50ch; 
   
}

.subtitulo {
    font-size: 144px;
    text-transform: uppercase;
    max-width: 4ch;  /* O valor em ch refere-se a caracter. Mantem esse número de ch na linha. */
    word-break: break-all; /* Utilizado com o o valor ch, faz com que seja quebrado a palavra quando chegar ao número de ch informado.  */
    line-height: 1; /* Informa o tamanho do espaçamento das linhas. */
    letter-spacing: 0; /* Informa o tamanho do espeçamento entre as letras. */
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.empresa-ano {
    text-align: right;
    color: #525252;
    font-size: 14px;
    background-color: #8883bb;
}

.empresa-titulo {
    font-size: 18px;
    font-weight: bold;
}

.empresa-texto {
    font-size: 14px;
    color: #525252;
    font-weight: bold; /* Aumenta o peso da letra. */
}


/* 
======================
SEÇÃO DE FORMAÇÃO
======================
*/

.formacao {
    background-color: #141414;
    color: #ffffff;
}

.formacao-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.formacao .subtitulo {
    color: #000000;
    max-width: 5ch;
}

.formacao-texto {
    font-size: 24px;
    max-width: 40ch;
    color: #a3a3a3;
    margin-bottom: 60px;
    padding-left: 40px;
}

.faculdade-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 60px;
}

.faculdade {
    flex: 1; /* Faz com que cada bloco ocupe o mesmo espaço disponível */
    background-color: #000000;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
}

.faculdade-tipo {
    font-size: 14px;
    text-transform: uppercase;
    color: #a3a3a3;
    margin-bottom: 10px;
}

.faculdade-curso {
    font-size: 18px;
    margin-bottom: 40px;
    flex: 1;
}

.faculdade-instituicao {
    font-size: 18px;
    color: #a3a3a3;
}


/* 
======================
SEÇÃO DO FOOTER
======================
*/

.footer {
    background: #000000;
    color: #ffffff;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 20px 60px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}

.footer-texto {
    font-size: 24px;
    color: #cccccc;
}

.footer-contato li {
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-contato li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-copy {
    font-size: 20px;
    color: #8f8f8f;
}